<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListCtrlPrg</servlet-name>
        <servlet-class>ctrl.ServletListCltPrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnrgSeanceType</servlet-name>
        <servlet-class>ctrl.ServletEnrgSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterExoType</servlet-name>
        <servlet-class>ctrl.ServletAjouterExoType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreExo</servlet-name>
        <servlet-class>ctrl.ServletCreExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExoTypeInfo</servlet-name>
        <servlet-class>ctrl.ServletExoTypeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerExercice</servlet-name>
        <jsp-file>/jsp/creerExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletvoirPrgClient</servlet-name>
        <servlet-class>ctrl.ServletvoirPrgClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecherche</servlet-name>
        <servlet-class>ctrl.ServletRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerSeance</servlet-name>
        <jsp-file>/jsp/creerSeance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletListeSeance</servlet-name>
        <servlet-class>ctrl.ServletListeSeance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddProgType</servlet-name>
        <servlet-class>ctrl.ServletAddProgType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFindObjSeanceType</servlet-name>
        <servlet-class>ctrl.ServletFindObjSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFindSeanceType</servlet-name>
        <servlet-class>ctrl.ServletFindSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerProgramme</servlet-name>
        <jsp-file>/jsp/creerProgramme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletModExo</servlet-name>
        <servlet-class>ctrl.ServletModExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupExo</servlet-name>
        <servlet-class>ctrl.ServletSupExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListeExo</servlet-name>
        <servlet-class>ctrl.ServletListeExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVoirDetailsProgType1</servlet-name>
        <servlet-class>ctrl.ServletVoirDetailsProgType1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletvoirListePrgType</servlet-name>
        <servlet-class>ctrl.ServletvoirListePrgType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voirProgType</servlet-name>
        <jsp-file>/jsp/voirProgType.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletChronoProg</servlet-name>
        <servlet-class>ctrl.ServletChronoProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chronoProg</servlet-name>
        <jsp-file>/jsp/chronoProg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckNameProgType</servlet-name>
        <servlet-class>ctrl.ServletCheckNameProgType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckNameSeanType</servlet-name>
        <servlet-class>ctrl.ServletCheckNameSeanType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voirSeanceType</servlet-name>
        <jsp-file>/jsp/voirSeanceType.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletFindETbySTCode</servlet-name>
        <servlet-class>ctrl.ServletFindETbySTCode</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>accueilCoaching</servlet-name>
        <jsp-file>/jsp/accueilCoaching.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>accueilProgramme</servlet-name>
        <jsp-file>/jsp/accueilProgramme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>connexion</servlet-name>
        <jsp-file>/jsp/connexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>profilUtilisateur</servlet-name>
        <jsp-file>/jsp/profilUtilisateur.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>ctrl.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeconnexion</servlet-name>
        <jsp-file>/jsp/deconnexion.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCtrlPrg</servlet-name>
        <url-pattern>/ListCtrlPrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletvoirPrgClient</servlet-name>
        <url-pattern>/ServletvoirPrgClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>ctrl.ServletClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affecterProgrammeClient</servlet-name>
        <jsp-file>/jsp/affecterProgrammeClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletObjectifs</servlet-name>
        <servlet-class>servlet.ServletObjectifs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletObjectif</servlet-name>
        <servlet-class>ctrl.ServletObjectif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProgrammetype</servlet-name>
        <servlet-class>ctrl.ServletProgrammetype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffecterProgrammeClient</servlet-name>
        <servlet-class>ctrl.ServletAffecterProgrammeClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeLineProg</servlet-name>
        <jsp-file>/jsp/TimeLineProg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifExo</servlet-name>
        <servlet-class>ctrl.ServletVerifExo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRecherche</servlet-name>
        <url-pattern>/ServletRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerSeance</servlet-name>
        <url-pattern>/creerSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affecterProgrammeClient</servlet-name>
        <url-pattern>/affecterProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObjectifs</servlet-name>
        <url-pattern>/ServletObjectifs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObjectif</servlet-name>
        <url-pattern>/ServletObjectif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProgrammetype</servlet-name>
        <url-pattern>/ServletProgrammetype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAffecterProgrammeClient</servlet-name>
        <url-pattern>/ServletAffecterProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeLineProg</servlet-name>
        <url-pattern>/TimeLineProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeSeance</servlet-name>
        <url-pattern>/ServletListeSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnrgSeanceType</servlet-name>
        <url-pattern>/ServletEnrgSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterExoType</servlet-name>
        <url-pattern>/ServletAjouterExoType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreExo</servlet-name>
        <url-pattern>/ServletCreExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExoTypeInfo</servlet-name>
        <url-pattern>/ServletExoTypeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerExercice</servlet-name>
        <url-pattern>/creerExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddProgType</servlet-name>
        <url-pattern>/ServletAddProgType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindObjSeanceType</servlet-name>
        <url-pattern>/ServletFindObjSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindSeanceType</servlet-name>
        <url-pattern>/ServletFindSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerProgramme</servlet-name>
        <url-pattern>/creerProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModExo</servlet-name>
        <url-pattern>/ServletModExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupExo</servlet-name>
        <url-pattern>/ServletSupExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeExo</servlet-name>
        <url-pattern>/ServletListeExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVoirDetailsProgType1</servlet-name>
        <url-pattern>/ServletVoirDetailsProgType1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletvoirListePrgType</servlet-name>
        <url-pattern>/ServletvoirListePrgType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voirProgType</servlet-name>
        <url-pattern>/voirProgType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChronoProg</servlet-name>
        <url-pattern>/ServletChronoProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chronoProg</servlet-name>
        <url-pattern>/chronoProg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckNameProgType</servlet-name>
        <url-pattern>/ServletCheckNameProgType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckNameSeanType</servlet-name>
        <url-pattern>/ServletCheckNameSeanType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voirSeanceType</servlet-name>
        <url-pattern>/voirSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFindETbySTCode</servlet-name>
        <url-pattern>/ServletFindETbySTCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accueilCoaching</servlet-name>
        <url-pattern>/accueilCoaching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accueilProgramme</servlet-name>
        <url-pattern>/accueilProgramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifExo</servlet-name>
        <url-pattern>/ServletVerifExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilUtilisateur</servlet-name>
        <url-pattern>/profilUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
