<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletRecherche</servlet-name>
        <servlet-class>servlet.ServletRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerSeance</servlet-name>
        <jsp-file>/jsp/creerSeance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>servlet.ServletClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affecterProgrammeClient</servlet-name>
        <jsp-file>/jsp/affecterProgrammeClient.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletObjectifs</servlet-name>
        <servlet-class>servlet.ServletObjectifs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletObjectif</servlet-name>
        <servlet-class>servlet.ServletObjectif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProgrammetype</servlet-name>
        <servlet-class>servlet.ServletProgrammetype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffecterProgrammeClient</servlet-name>
        <servlet-class>servlet.ServletAffecterProgrammeClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeLineProg</servlet-name>
        <jsp-file>/jsp/TimeLineProg.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRecherche</servlet-name>
        <url-pattern>/ServletRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerSeance</servlet-name>
        <url-pattern>/creerSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affecterProgrammeClient</servlet-name>
        <url-pattern>/affecterProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObjectifs</servlet-name>
        <url-pattern>/ServletObjectifs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObjectif</servlet-name>
        <url-pattern>/ServletObjectif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProgrammetype</servlet-name>
        <url-pattern>/ServletProgrammetype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAffecterProgrammeClient</servlet-name>
        <url-pattern>/ServletAffecterProgrammeClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeLineProg</servlet-name>
        <url-pattern>/TimeLineProg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
