<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletRecherche</servlet-name>
        <servlet-class>servlet.ServletRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerSeance</servlet-name>
        <jsp-file>/jsp/creerSeance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletEnrgSeanceType</servlet-name>
        <servlet-class>servlet.ServletEnrgSeanceType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjouterExoType</servlet-name>
        <servlet-class>servlet.ServletAjouterExoType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreExo</servlet-name>
        <servlet-class>ctrl.ServletCreExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExoTypeInfo</servlet-name>
        <servlet-class>ctrl.ServletExoTypeInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerExercice</servlet-name>
        <jsp-file>/jsp/creerExercice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletListeExo</servlet-name>
        <servlet-class>ctrl.ServletListeExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModExo</servlet-name>
        <servlet-class>ctrl.ServletModExo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupExo</servlet-name>
        <servlet-class>ctrl.ServletSupExo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRecherche</servlet-name>
        <url-pattern>/ServletRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerSeance</servlet-name>
        <url-pattern>/creerSeance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnrgSeanceType</servlet-name>
        <url-pattern>/ServletEnrgSeanceType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjouterExoType</servlet-name>
        <url-pattern>/ServletAjouterExoType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreExo</servlet-name>
        <url-pattern>/ServletCreExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExoTypeInfo</servlet-name>
        <url-pattern>/ServletExoTypeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerExercice</servlet-name>
        <url-pattern>/creerExercice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListeExo</servlet-name>
        <url-pattern>/ServletListeExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModExo</servlet-name>
        <url-pattern>/ServletModExo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupExo</servlet-name>
        <url-pattern>/ServletSupExo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
